#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main_content {
  display: grid;
  grid-template-columns: 1fr .1fr 1fr;
  grid-template-rows: .1fr 1fr;
  grid-template-areas:
    "header header header"
    "left-side . right-side";
}

.left_side {
  grid-area: left-side;
}

.right_side {
  grid-area: right-side;
}

