#root {
  margin: 0 auto;
  
}

.main_content {
  width: 100vw;
  background-color: yellowgreen;
  display: grid;
  grid-template-columns: 1fr .1fr 1fr;
  grid-template-rows: .1fr 1fr;
  grid-template-areas:
    "header header header"
    "left-side . right-side"
    "footer footer footer";
  
}

header {
  grid-area: header;
}

footer {
  grid-area: footer;
}

.left_side {
  grid-area: left-side;
}

.right_side {
  grid-area: right-side;
}

